#custom ---------------
_deps
_libs
*.lai

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# http://www.gnu.org/software/automake

Makefile.in
/ar-lib
/mdate-sh
/py-compile
/test-driver
/ylwrap
.deps/
.dirstamp

# http://www.gnu.org/software/autoconf

autom4te.cache
/autoscan.log
/autoscan-*.log
/aclocal.m4
/compile
/config.cache
/config.guess
/config.h.in
/config.log
/config.status
/config.sub
/configure
/configure.scan
/depcomp
/install-sh
/missing
/stamp-h1

# https://www.gnu.org/software/libtool/

/ltmain.sh

# http://www.gnu.org/software/texinfo

/texinfo.tex

# http://www.gnu.org/software/m4/

m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4

# Generated Makefile
# (meta build system like autotools,
# can automatically generate from config.status script
# (which is called by configure script))
Makefile

nln/core/target/core-1.0-SNAPSHOT.jar
nln/core/target/archive-tmp/core-1.0-SNAPSHOT.jar
nln/core/target/classes/Demo1.class
nln/core/target/classes/Demo2.class
nln/core/target/classes/Demo3.class
nln/core/target/classes/Main.class
nln/core/target/classes/META-INF/MANIFEST.MF
nln/core/target/classes/common/AliveMonitor.class
nln/core/target/classes/common/MIB.class
nln/core/target/classes/common/MIB$ModelInfo.class
nln/core/target/classes/common/PLT.class
nln/core/target/classes/common/PLT$LearningInfo.class
nln/core/target/classes/common/PLT$PendingInfo.class
nln/core/target/classes/controller/ForwardController.class
nln/core/target/classes/controller/ForwardController$1.class
nln/core/target/classes/controller/ForwardController$2.class
nln/core/target/classes/controller/ForwardController$3.class
nln/core/target/classes/controller/ForwardController$4.class
nln/core/target/classes/controller/InterestController.class
nln/core/target/classes/controller/InterestController$1.class
nln/core/target/classes/controller/InterestController$2.class
nln/core/target/classes/controller/InterestController$3.class
nln/core/target/classes/controller/LearningController.class
nln/core/target/classes/datastore/DataManager.class
nln/core/target/classes/datastore/Dataset.class
nln/core/target/classes/datastore/Model.class
nln/core/target/classes/fashionmnist/Readme.md
nln/core/target/classes/fashionmnist/t10k-images-idx3-ubyte.gz
nln/core/target/classes/fashionmnist/t10k-labels-idx1-ubyte.gz
nln/core/target/classes/fashionmnist/train-images-idx3-ubyte.gz
nln/core/target/classes/fashionmnist/train-labels-idx1-ubyte.gz
nln/core/target/classes/http/HttpClient.class
nln/core/target/classes/http/HttpServer.class
nln/core/target/classes/http/HttpServer$RequestHandler.class
nln/core/target/classes/mnist/t10k-images-idx3-ubyte.gz
nln/core/target/classes/mnist/t10k-labels-idx1-ubyte.gz
nln/core/target/classes/mnist/train-images-idx3-ubyte.gz
nln/core/target/classes/mnist/train-labels-idx1-ubyte.gz
nln/core/target/classes/model/DatasetInfo.class
nln/core/target/classes/model/InterestParameter.class
nln/core/target/classes/model/LearningInfo.class
nln/core/target/classes/model/ResponseData.class
nln/core/target/classes/model/ResponseData$POJO.class
nln/core/target/classes/ndn/Controller.class
nln/core/target/classes/ndn/RSA_Key.class
nln/core/target/classes/tensorflow/SimpleModel.class
nln/core/target/classes/tensorflow/model/cnn/lenet/CnnMnist.class
nln/core/target/classes/tensorflow/model/cnn/vgg/VGG11OnFashionMNIST.class
nln/core/target/classes/tensorflow/model/cnn/vgg/VGGModel.class
nln/core/target/classes/tensorflow/model/datasets/ImageBatch.class
nln/core/target/classes/tensorflow/model/datasets/ImageBatchIterator.class
nln/core/target/classes/tensorflow/model/datasets/mnist/MnistDataset.class
nln/core/target/classes/tensorflow/model/dense/SimpleMnist.class
nln/core/target/classes/tensorflow/model/regression/linear/LinearRegressionExample.class
nln/core/target/classes/tensorflow/model/tensors/TensorCreation.class
nln/core/target/classes/util/AsyncBlock.class
nln/core/target/dependency/android-4.1.1.4.jar
nln/core/target/dependency/commons-codec-1.3.jar
nln/core/target/dependency/httpclient-4.0.1.jar
nln/core/target/dependency/httpcore-4.0.1.jar
nln/core/target/dependency/javacpp-1.5.6-linux-x86_64.jar
nln/core/target/dependency/javacpp-1.5.6-windows-x86_64.jar
nln/core/target/dependency/javacpp-1.5.6.jar
nln/core/target/dependency/jndn-android-with-async-io-0.25.jar
nln/core/target/dependency/json-20210307.jar
nln/core/target/dependency/ndarray-0.3.3.jar
nln/core/target/dependency/opengl-api-gl1.1-android-2.1_r1.jar
nln/core/target/dependency/protobuf-java-3.9.2.jar
nln/core/target/dependency/sqlite-jdbc-3.23.1.jar
nln/core/target/dependency/tensorflow-core-api-0.4.0-linux-x86_64-gpu.jar
nln/core/target/dependency/tensorflow-core-api-0.4.0-windows-x86_64-gpu.jar
nln/core/target/dependency/tensorflow-core-api-0.4.0.jar
nln/core/target/dependency/tensorflow-core-platform-gpu-0.4.0.jar
nln/core/target/dependency/tensorflow-framework-0.4.0.jar
nln/core/target/dependency/xmlParserAPIs-2.6.2.jar
nln/core/target/dependency/xpp3-1.1.4c.jar
nln/core/target/dependency/zip4j-2.9.1.jar
nln/core/target/maven-archiver/pom.properties
nln/core/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
nln/core/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
nln/core/target/core-1.0.jar
nln/core/target/archive-tmp/core-1.0.jar
